.checkout{
    /* background-image: url(../../../public/assets/images/240_F_113636348_FPQO3sUu2ZA3HR9zOzM4lnSiWEdsoqwu.jpeg); */
    background: linear-gradient(rgba(230, 230, 230, 0.774), rgba(255, 255, 255, 0.815)), url(../../../public/assets/images/240_F_73578608_B9vPFd1Ytr2a8VpHdOrB3Ffvc5ZtJFkL.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin: auto;
    padding: 2vh 3vw 25vh 3vw;
    border-radius: 20px;
    /* box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.24); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

}

.titleCheckout{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(32, 44, 61)
}

.products{
    justify-content: space-between;
    margin-top: 5vh;
}